<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="friendList">
		SELECT 
		       SENDER_NO
		     , RECEIVER_NO
		     , MEM_NO
		     , NICKNAME
		     , PROFILE_PIC
		  FROM FRIEND 
		  JOIN MEMBER ON (RECEIVER_NO = MEM_NO)
		 WHERE SENDER_NO = ?
		   AND REQUEST_STATUS = 'A'
		   AND FRIEND_LEVEL != 'F'
		UNION
		SELECT 
		       SENDER_NO
		     , RECEIVER_NO
		     , MEM_NO
		     , NICKNAME
		     , PROFILE_PIC
		  FROM FRIEND 
		  JOIN MEMBER ON (SENDER_NO = MEM_NO)
		 WHERE RECEIVER_NO = ?
		   AND REQUEST_STATUS = 'A'
		   AND FRIEND_LEVEL != 'F'
	</entry>
	
	<entry key="toMember">
		SELECT
		       MEM_NO
		     , NICKNAME
		     , PROFILE_PIC
		  FROM MEMBER
		 WHERE MEM_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="chatList">
	   SELECT 
		      CHAT_ID
		    , FROM_MEMNO
		    , TO_MEMNO
            , PROFILE_PIC
		    , CHAT_CONTENT
		    , CHAT_TIME
		 FROM CHAT
         JOIN MEMBER ON (MEM_NO = TO_MEMNO)
		WHERE (FROM_MEMNO = ?
		  AND TO_MEMNO = ?)
		   OR (FROM_MEMNO = ?
		  AND TO_MEMNO = ?)
		ORDER
           BY CHAT_TIME
	</entry>

	<entry key="insertChat">
		INSERT
		  INTO CHAT
		  (
		    CHAT_ID
		  , FROM_MEMNO
		  , TO_MEMNO
		  , CHAT_CONTENT
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>

	<entry key="searchFriend">
		SELECT 
		       SENDER_NO
		     , RECEIVER_NO
		     , MEM_NO
		     , NICKNAME
		     , PROFILE_PIC
		  FROM FRIEND 
		  JOIN MEMBER ON (RECEIVER_NO = MEM_NO)
		 WHERE SENDER_NO = ?
		   AND REQUEST_STATUS = 'A'
		   AND FRIEND_LEVEL != 'F'
		   AND NICKNAME LIKE '%' || ? || '%'
		UNION
		SELECT 
		       SENDER_NO
		     , RECEIVER_NO
		     , MEM_NO
		     , NICKNAME
		     , PROFILE_PIC
		  FROM FRIEND 
		  JOIN MEMBER ON (SENDER_NO = MEM_NO)
		 WHERE RECEIVER_NO = ?
		   AND REQUEST_STATUS = 'A'
		   AND FRIEND_LEVEL != 'F'
		   AND NICKNAME LIKE '%' || ? || '%'
	</entry>





</properties>